<h2 class="widget-title">BUILD OVERVIEW</h2>
<div class="content auto-font-resize hidden">
		<span class="failed-report"></span>
    <div class="build-status-bar successful">
        <div class="fail-bar progress failed"></div>
    </div>
    <div class="build-overview-always-show"></div>
    <h2>HALL OF SHAME</h2>
    <div class="build-breakers"></div>
</div>
